/*-- index page stylesheets -----------------------------------------------*/

@import "variables.less";

#climateImage {
  width: 175/2px;
  height: 120/2px;
}

#sell-report-main-kpi-table td {
  width: percentage(1/3);
}