<div>
    <div id="header">
        <!--header section-->
    </div>
    <div id="main">
        <div id="globalQueryContainer" class="gui-panel gui-panel-default">
            <div class="gui-panel-body">
                侧边栏：全局条件
            </div>
        </div>
        <div id="moduleContainer" class="grid-medium">
            <!--main section: module content will be loaded into here-->
        </div>
    </div>
    <div id="footer">
        <!--footer section-->
    </div>
</div>