<div>
    <div class="logo-section">
        <span>
            <img src="assets/images/logo_cr_l.png"/>
        </span>
        <span class="header-right">
            <button id="switchToAdminBtn" type="button" class="gui-btn gui-btn-primary">切换至后台</button>
            <button id="switchToUserBtn" type="button" class="gui-btn gui-btn-primary">切换至前台</button>
            <button id="logoutBtn" type="button" class="gui-btn gui-btn-danger">注 销</button>
        </span>
    </div>
    <div id="nav">

    </div>
</div>