<div>
    <div class="js-header">
        <!--header section-->
    </div>
    <div class="shell-main">
        <div id="globalQueryContainer" class="collapsed">
            <!--global query section: global query panel component will be loaded into here-->
        </div>
        <div id="moduleContainer" class="grid">
            <!--main section: module content will be loaded into here-->
        </div>
    </div>
    <div class="js-footer">
        <!--footer section-->
    </div>
</div>