<div>
    <div class="row-fluid">
        <div class="span12 gui-panel gui-panel-default">
            <div class="gui-panel-heading">
                <h3 class="gui-panel-title">用户行为报表</h3>
            </div>
            <div class="gui-panel-body">
                <div style="margin-bottom: 12px;">
                    <span>用户名：</span>
                    <input type="text" class="username text-input"/>
                    <span>角色：</span>
                    <input type="text" class="role text-input"/>
                    <span>菜单：</span>
                    <input type="text" class="menu text-input"/>
                    <span>起止时间：</span>
                    <input type="checkbox"/>
                    <input type="text" class="text-input"/>
                    <span style="margin-right: 12px;">至</span>
                    <input type="text" class="text-input"/>
                </div>
                <table id="userActionLogTable"></table>
            </div>
        </div>
    </div>
</div>