<div>
    <div class="row-fluid">
        <div class="span12 gui-panel gui-panel-default">
            <div class="gui-panel-heading">
                <h3 class="gui-panel-title">用户行为报表</h3>
            </div>
            <div class="gui-panel-body">
                <div style="margin-bottom: 12px;">
                    <label>用户名：</label>
                    <input type="text" class="username"/>
                    <label>角色：</label>
                    <input type="text" class="role"/>
                    <label>菜单：</label>
                    <input type="text" class="menu"/>
                    <label>起止时间：</label>
                    <input type="checkbox"/>
                    <input type="text"/>
                    <lable style="margin-right: 12px;">至</lable>
                    <input type="text"/>
                </div>
                <table id="userActionLogTable"></table>
            </div>
        </div>
    </div>
</div>