<div>
    <div class="grid-medium">
        <div class="row-medium">
            <div class="span7-medium">
                <div class="gui-panel gui-panel-default">
                    <div class="gui-panel-heading">
                        <h3 class="gui-panel-title">昨日销售报告</h3>
                    </div>
                    <div class="gui-panel-body">
                        主要KPI：<br />
                        <table id="sell-report-main-kpi-table" class="gui-table gui-table-bordered gui-table-striped text-center" style="margin-top: 10px;">
                            <tbody>
                                <tr>
                                    <td>销售额<br /><span class="text-primary">万元</span></td>
                                    <td>销售额同比增幅<br /><span class="text-info">%</span></td>
                                    <td>可比门店销售额同比增幅<br /><span class="text-primary">%</span></td>
                                </tr>
                                <tr>
                                    <td>日周环比增幅<br /><span class="text-primary">%</span></td>
                                    <td>零售客单数<br /><span class="text-primary">万次</span></td>
                                    <td>零售客单价<br /><span class="text-primary">元</span></td>
                                </tr>
                                <tr>
                                    <td>月至今销售额<br /><span class="text-primary">万元</span></td>
                                    <td>月至今销售额同比增幅<br /><span class="text-primary">%</span></td>
                                    <td>可比门店月至今销售额同比增幅<br /><span class="text-primary">%</span></td>
                                </tr>
                                <tr>
                                    <td>年至今销售额<br /><span class="text-primary">万元</span></td>
                                    <td>年至今销售额同比增幅<br /><span class="text-primary">%</span></td>
                                    <td>可比门店年至今销售额同比增幅<br /><span class="text-primary">%</span></td>
                                </tr>
                            </tbody>
                        </table>
                        年至今同期对比：<br />
                        <div id="yearToDateSaleChart" class="pull-left yearToDateChart"></div>
                        <div id="yearToDateProfitChart" class="pull-left yearToDateChart"></div>
                        <div id="yearToDateQuantityChart" class="pull-left yearToDateChart"></div>
                    </div>
                </div>
            </div>
            <div class="span5-medium">
                <div class="gui-panel gui-panel-default">
                    <div class="gui-panel-body">
                        用户名：<span id="username" style="margin-right: 25px;"></span>岗位：<span id="position"></span><br />
                        数据权限：<span id="permission"></span><br />
                        <hr style="margin: 10px 0;"/>
                        <div class="pull-left">
                            <span id="today"></span><br />
                            <span id="todayOfLastYear"></span>
                        </div>
                        <img id="climateImage" class="pull-right"/>
                        <div style="clear: both;"></div>
                        <span id="city" style="margin-right: 10px;"></span>
                        <span id="temperature" style="margin-right: 10px;"></span>
                        <span id="humidity" style="margin-right: 10px;"></span>
                        <span id="wind"></span>
                    </div>
                </div>
                <div class="gui-panel gui-panel-default">
                    <div class="gui-panel-heading">
                        <h3 class="gui-panel-title">系统信息</h3>
                    </div>
                    <div class="gui-panel-body">
                        <table id="systemMessageTable" style="display: none;"></table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-medium">
            <div class="span12-medium">
                <div class="gui-panel gui-panel-default">
                    <div class="gui-panel-heading">
                        <h3 class="gui-panel-title">零售客单价&客单数趋势</h3>
                    </div>
                    <div class="gui-panel-body report-panel-body">
                        零售客单价&客单数趋势...
                    </div>
                </div>
            </div>
        </div>
        <div class="row-medium">
            <div class="span12-medium">
                <div class="gui-panel gui-panel-default">
                    <div class="gui-panel-heading">
                        <h3 class="gui-panel-title">年至今及上年同期占比</h3>
                    </div>
                    <div class="gui-panel-body report-panel-body">
                        年至今及上年同期占比...
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>