<div id="globalQueryPanel" class="gui-panel gui-panel-default">
    <div class="gui-panel-heading">
        <h3 class="gui-panel-title">
            <strong>全局设置</strong>
            <a class="horizontal-expand-btn pull-right">&rsaquo;</a>
            <a class="horizontal-collapse-btn pull-right">&lsaquo;</a>
        </h3>
    </div>
    <div class="gui-panel-body" style="clear: right;">
        <div id="globalQueryAccordion" class="gui-panel-group">
            <div class="gui-panel gui-panel-default">
                <div class="gui-panel-heading" data-toggle="collapse" data-target="#globalCommonQueryContainer">
                    条件选择
                </div>
                <div id="globalCommonQueryContainer" class="gui-panel-collapse gui-collapsible" data-parent="#globalQueryAccordion" data-toggle="true">
                    <div class="gui-panel-body">
                        <div style="height: 350px;overflow-x: hidden;overflow-y: scroll;">
                            <table>
                                <tbody>
                                <tr>
                                    <td>可比门店</td>
                                    <td>
                                        <div class="gui-btn-bar" data-toggle="buttons">
                                            <label class="gui-btn gui-btn-default">
                                                <input type="radio" name="options">近期
                                            </label>
                                            <label class="gui-btn gui-btn-default">
                                                <input type="radio" name="options">全部
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>地区</td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td>业态</td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td>门店</td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td>单品</td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td>类别</td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td>品类组</td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td>品牌</td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td>供应商</td>
                                    <td><input type="text"></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="gui-btn-bar" data-toggle="buttons">
                                            <label class="gui-btn gui-btn-default">
                                                <input type="radio" name="options">昨日
                                            </label>
                                            <label class="gui-btn gui-btn-default">
                                                <input type="radio" name="options">月至今
                                            </label>
                                            <label class="gui-btn gui-btn-default">
                                                <input type="radio" name="options">上月
                                            </label>
                                            <label class="gui-btn gui-btn-default">
                                                <input type="radio" name="options">年至今
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <div class="gui-btn-bar" data-toggle="buttons">
                                            <label class="gui-btn gui-btn-default">
                                                <input type="radio" name="options">年
                                            </label>
                                            <label class="gui-btn gui-btn-default">
                                                <input type="radio" name="options">月
                                            </label>
                                            <label class="gui-btn gui-btn-default">
                                                <input type="radio" name="options">日
                                            </label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>开始时间</td>
                                    <td><input class="date-picker" type="text"></td>
                                </tr>
                                <tr>
                                    <td>结束时间</td>
                                    <td><input class="date-picker" type="text"></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <button type="button" class="gui-btn gui-btn-primary pull-right">执 行</button>
                    </div>
                </div>
            </div>
            <div class="gui-panel gui-panel-default">
                <div class="gui-panel-heading" data-toggle="collapse" data-target="#globalFilterQueryContainer">
                    筛选条件
                </div>
                <div id="globalFilterQueryContainer" class="gui-panel-collapse gui-collapsible gui-collapsed" data-parent="#globalQueryAccordion">
                    <div class="gui-panel-body">
                        筛选条件
                    </div>
                </div>
            </div>
            <div class="gui-panel gui-panel-default">
                <div class="gui-panel-heading" data-toggle="collapse" data-target="#globalReportControlBarContainer">
                    报表选择
                </div>
                <div id="globalReportControlBarContainer" class="gui-panel-collapse gui-collapsible gui-collapsed" data-parent="#globalQueryAccordion">
                    <div class="gui-panel-body">
                        报表选择
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>